@page {
  size: A5;
  margin: 10mm;

  @top-center {
   content: "default";
  }
  
  @bottom-center {
   content: counter(page);
  }
  :first {
    margin-top: 6cm;
    margin-top: 0;
    @top-center {
     content: "first";
    }
  }
  :left {
    margin-left: 20mm;
    @top-center {
     content: "left";
    }
  }
  :right {
    margin-right: 20mm;
    @top-center {
     content: "right";
    }
  }
}

@media print {
  html {
    // font-size: 12pt;
    // width: 100%;
    // display: block;
    // background: transparent;
  }

  body {
    // --bg: white;
    // background: transparent;
    // width: 100%;
    // display: block;

    // font-size: 12pt;

    // margin: 0;
    // padding: 0;

    // > * {
      // margin: 0;
      // padding: 0;
    // }

    // > header {
      // display: block;
      // width: 100%;

      // > .logo {
        // padding: 0;
      // }

      // > h1 {
        // font-size: 1.1em;
      // }

      // > nav,
      // > .motto {
        // display: none;
      // }
    // }
    

    > main {
      display: block;

      article {
        // min-height: none;
        // display: block;

        // margin: 0;
        // padding: 0;

        > * {
          // margin: 0;
          // padding: 0;
          // + * {padding-top: var(--fitz-2);}
        }

        > nav.context {
          // display: none;
          // .breadcrumbs > a {
            // padding: 0;
          // }
        }

        > figure {
        }

        > footer {
          // display: none;
          
          // > * {
            // // margin: 0;
            // padding: 0;
            // + * {padding-top: var(--fitz);}
          // }

          // > nav, > aside {
          // }
        }
      }

      .collection {
        display: none;
      }
    }

    > footer {
      // > nav, > aside {
        // display: none;
      // }

      // > .contact {
        // display: flex;
        // align-items: center;
      // }
    }
  }
}
